@import url("./waybar.css");

* {
	border: none;
  	border-radius: 0;
  	font-family: "M+1NerdFont" ;
  	font-weight: bold;
	  font-size: 14px;
  	padding-top: 4px;
  	padding-bottom: 4px;
  	padding-left: 7px;
  	padding-right: 7px;
}

window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	padding-left: 0px;
	padding-right: 0px;
	transition: none;
  color: transparent;
	background: transparent;
}

#workspaces {
  padding:0px;
  margin: 0px;
	color: @foreground;
  background: @white;
  border-radius: 20px;
  box-shadow: 4px 4px 2px 1px #101010;
}

#workspaces button {
  padding: 0px;
  margin:0px;
	transition: none;
	background: transparent;
	font-size: 16px;
  color: @black;
}

#workspaces button:hover {
  color: @bright_black;
}

#workspaces button.focused {
	color: @green
}

#workspaces button.focused:hover {
  color: @bright_green;
}

#network {
	transition: none;
	color: @black;
	background: @blue;
}

#battery {
	transition: none;
  background: @cyan;
	color: @black;
  border-radius: 0 20px 20px 0px;
}

#battery.charging, #battery.plugged {
  background: @bright_cyan;
}

#battery.critical:not(.charging) {
    background-color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: @bright_red;
        color: @foreground;
    }
}

#clock {
  border-radius: 20px 0px 0 20;
	transition: none;
	color: @black;
  background: @green;
}

#tray {
  border-radius: 20px;
  margin-left: 10px;
	transition: none;
	color: @white;
	background: @bright_black;
}

#language {
  border-radius: 20px;
  padding: 0px 10px 0px 10px;
  margin-left: 10px;
	transition: none;
	color: @white;
	background: @bright_black;
}

/*** Not used  ***************************************************************/
#pulseaudio {
  border-radius: 0 20px 20px 0px;
	transition: none;
	color: #161320;
  background: #bd93f9;
}

#backlight {
	transition: none;
	color: #161320;
	background: #DDB6F2;
}

#memory {
	transition: none;
	color: #161320;
	background: #96CDFB;
}

#temperature {
	color: #161320;
  background: #B5E8E0;
}

#cpu {
	transition: none;
	color: #161320;
  background: #BFF6C3;
}

#custom-launcher {
	font-size: 24px;
	transition: none;
  background: #89DCEB;
  color: #161320;
}

#custom-power {
	font-size: 20px;
	transition: none;
	background: #161320;
	color: #F28FAD;
}

#custom-wallpaper {
	transition: none;
	background: #161320;
	color: #C9CBFF;
}

#custom-updates {
	transition: none;
	background: #161320;
	color: #E8A2AF;
}
